[defaults]
force_color = true
any_errors_fatal = true
forks = 100
module_name = shell
retries = 5
host_key_checking = false
inventory = aws_ec2

show_task_path_on_failure = true
result_format = yaml
display_ok_hosts = true
display_skipped_hosts = false

[inventory]
enable_plugins = amazon.aws.aws_ec2

[ssh_connection]

pipelining = yes
ssh_args = -o ControlMaster=auto -o ControlPersist=120s